$base-black: #1c1818;
$base-black-1: #2e2b2b;
$base-black-2: #514d4d;
$base-gray: #c8c8c8;
$accent-blue: #6889ff;
$accent-pink: #ff8484;
$base-white: #f5f5f0;
$accent-green: #56a969;
$accent-green-hover: #429154;
$bg-white: #fff;
$gray-200: #f5f5f5;
$black-600: #585454;
$gray-400: #e4e4e7;

$font-family: "Martian Mono", sans-serif;
$second-family: "Albert Black", sans-serif;
$third-family: "Fira Code", sans-serif;
$font3: "Inter", sans-serif;